<section class="d-flex align-items-center justify-content-center">
    <form [formGroup]="formLogin">
        <div class="row mt-4 text-center">
            <div class="col-12">
                <img src="/assets/locked.jpg" alt="locked" class="logo">
            </div>
            <div class="col-12">
                <input type="text" pInputText formControlName="username" name="username" autocomplete="off"> 
            </div>
            <div class="col-12 mt-2">
                <input type="password" pPassword [feedback]="false" name="password" formControlName="password" autocomplete="current-password" >
            </div>
            <div class="col-12 mt-2">
                <button pButton type="button" label="Iniciar Sesión" (click)="login()"></button>
            </div>
        </div>
    </form>
</section>